﻿@*@model OnlineArtGallery.Models.Category*@
@{
    ViewData["Title"] = "Buyer List";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}
<!--partial-->
<div class="content-wrapper chuongFont">
    <div class="row">
        <div class="col-md-9 grid-margin stretch-card mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 d-flex justify-content-start">
                                <img src="~/images/logo-art.png" width="150">
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <h3>Create New Product Category</h3>
                            </div>
                        </div>
                    </div>
                    <form class="pt-3">
                        <div class="form-row">
                            @*---------------------------------Category Name-------------------------------------*@
                            <div class="form-group col">
                                <input type="text" class="form-control " id="createCategoryInputName1" placeholder="Category name">
                                @*<span asp-validation-for="#" class="text-danger"></span>*@
                            </div>
                            @*----------------------------------Button------------------------------------*@
                            <div class="form-group col-3">
                                <a class="btn  btn-inverse-success font-weight-medium" asp-action="category" asp-controller="admin">Create</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


