﻿
@{
    ViewData["Title"] = "Product Categories";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}
<!--partial-->
<div class="content-wrapper chuongFont">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-lg-flex align-items-center mb-4">
                        <h1 class="card-title mb-md-0">ListData</h1>
                        <!-- Search form -->
                        <form class="form-inline active-purple-3 active-purple-4">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                                   aria-label="Search">
                        </form>
                    </div>
                    <div class="table-responsive border rounded p-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="font-weight-bold">Feature</th>
                                    <th class="font-weight-bold">FullName</th>
                                    <th class="font-weight-bold">Email</th>
                                    <th class="font-weight-bold">Country</th>
                                    <th class="font-weight-bold">Balance</th>
                                    <th class="font-weight-bold"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#<img class="img-sm rounded-circle" src="images/faces/face1.jpg" alt="profile image"></td>
                                    <td>Katie Holmes</td>
                                    <td>KaiteHolmes@email.com</td>
                                    <td>United States</td>
                                    <td>
                                        <div>1000$</div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-inverse-info btn-sm">Edit</a>
                                        <a href="#" class="btn btn-inverse-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#<img class="img-sm rounded-circle" src="images/faces/face1.jpg" alt="profile image"></td>
                                    <td>Katie Holmes</td>
                                    <td>KaiteHolmes@email.com</td>
                                    <td>United States</td>
                                    <td>
                                        <div>1000$</div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-inverse-info btn-sm">Edit</a>
                                        <a href="#" class="btn btn-inverse-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#<img class="img-sm rounded-circle" src="images/faces/face1.jpg" alt="profile image"></td>
                                    <td>Katie Holmes</td>
                                    <td>KaiteHolmes@email.com</td>
                                    <td>United States</td>
                                    <td>
                                        <div>1000$</div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-inverse-info btn-sm">Edit</a>
                                        <a href="#" class="btn btn-inverse-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#<img class="img-sm rounded-circle" src="images/faces/face1.jpg" alt="profile image"></td>
                                    <td>Katie Holmes</td>
                                    <td>KaiteHolmes@email.com</td>
                                    <td>United States</td>
                                    <td>
                                        <div>1000$</div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-inverse-info btn-sm">Edit</a>
                                        <a href="#" class="btn btn-inverse-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex mt-4 flex-wrap">
                        <p class="text-muted">Showing 1 to 10 of 57 entries</p>
                        <nav class="ml-auto">
                            <ul class="pagination separated pagination-info">
                                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                <li class="page-item"><a href="#" class="page-link">3</a></li>
                                <li class="page-item"><a href="#" class="page-link">4</a></li>
                                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


