﻿
@{ ViewData["Title"] = "About us"; }

<section>
    <div class="about-body">
        <div class="container-scroller">
            <div class="container-fluid">
                <div class="container about-container justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="head-title">About Us</h1>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6 align-items-center">
                            <div class="container ">
                                <h1 class="about-header-text"><strong>Special objects,</strong></h1>
                                <h1><strong>selected by experts</strong></h1>
                                <br />
                                <h4><strong>Bid on something special</strong></h4>
                                <h5 class="about-text-content">For people with a passion. Catawiki is the perfect place for buying and selling truly special objects safely and securely.</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="container">
                                <img src="https://cdn.catawiki.net/assets/customer_info/ui/about/special_objects_2-5a503e9de763204f9ec9f80cb021cbbbe69c8c396baa1c56431a13453335c047.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container about-container ">
                    <div class="row text-center">

                        <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                            <h1>65,000+</h1>
                            <h5 class="about-text-content">objects in auction every week</h5>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                            <h1>200+</h1>
                            <h5 class="about-text-content">experts</h5>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                            <h1>10 million</h1>
                            <h5 class="about-text-content">unique visitors/month</h5>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                            <h1>80</h1>
                            <h5 class="about-text-content">categories</h5>
                        </div>
                    </div>
                </div>

                <div class="container about-container ">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="container mb-5">
                                <img src="https://cdn.catawiki.net/assets/customer_info/ui/about/experts-d0ada97ecf7945c840561672ee635968aae2f30a7b195bf0c9777570b716a27c.jpg" width="500" />
                            </div>
                        </div>
                        <div class="col-lg-6 align-items-center">
                            <div class="container">
                                <h4><strong>Our story</strong></h4>
                                <h5 class="about-text-content">
                                    Founded in 2008, Catawiki was orginally an online platform where collectors could interact.
                                    Our founders introduced an online auction feature in 2011 and opened it up to everyone with an appreciation for special and hard-to-find objects. Catawiki quickly grew into the platform it is today, hosting auctions featuring 65,000 objects in more than 80 categories per week.
                                    Catawiki serves customers from all over the world and is available in 17 languages.
                                </h5>
                                <br />
                                <h4><strong>Our experts</strong></h4>
                                <h5 class="about-text-content">
                                    Every one of our experts brings with them decades of experience and knowledge in their field.
                                    Their know-how combined with our next-level technology ensures both buyers and sellers are assured of a safe,
                                    hassle-free experience, proteced from fraud or scams.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container about-container mb-5">
                    <div class="row">
                        <div class="col-lg-6 align-items-center mb-5">
                            <div class="container">
                                <h4><strong>Our company</strong></h4>
                                <h5 class="about-text-content">
                                    Headquartered in Amsterdam, the Netherlands, Catawiki has 500 passionate employees working across our European offices,
                                    serving customers around the world.
                                </h5>
                                <br />
                                <h4><strong>Join our crew</strong></h4>
                                <h5 class="about-text-content">
                                    Catawiki is a fast-growing company and we're always looking for passionate,
                                    talented people who want to make an impact.
                                </h5>
                                <br />
                                <a href="#" class="btn about-btn mb-5">Discover an opportunity</a>
                                <br />
                                <h5 class="about-text-content">
                                    Catawiki B.V.<br />
                                    Overcingellaan 5<br />
                                    9401 LA Assen, The Netherlands<br />
                                    <a href="#" class="about-link">Contact us</a><br />
                                    Chamber of Commerce: Groningen, The Netherlands<br />
                                    Chamber of Commerce number: 01131735<br />
                                    VAT Identification Number: NL8194.21.182.B01
                                </h5><br />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="container">
                                <img src="https://cdn.catawiki.net/assets/customer_info/ui/about/crew-414bcc59ebd4339b3bbd1ee41d92893932d31998e250b64ebb872e76838aecbc.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
