﻿@*@model OnlineArtGallery.Models.Product*@

@{
    ViewData["Title"] = "Create Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}

<section class="product-admin-section">
    <!--partial-->
    <div class="content-wrapper chuongFont">
        <div class="row">
            <div class="col-md-9 grid-margin stretch-card mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 d-flex justify-content-start">
                                    <img src="~/images/logo-art.png" width="150">
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <h3>Create New Product</h3>
                                </div>
                            </div>
                        </div>
                        <form class="pt-3">

                            <div class="form-row">
                                @*----------------------------------Product Name------------------------------------*@
                                <div class="form-group col-7">
                                    <input type="text" class="form-control" id="createProductInputProductName1" placeholder=" ProductName">
                                    @*<span asp-validation-for="ProductName" class="text-danger"></span>*@
                                </div>
                                @*-----------------------------------Artist-----------------------------------*@
                                <div class="form-group col-5">
                                    <input type="tel" class="form-control " id="createProductInputArtist1" placeholder="Artist">
                                    @*<span asp-validation-for="Artist" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="form-row">
                                @*-------------------------------------Origin---------------------------------*@
                                <div class="form-group input-group col">
                                    <select class="form-control" id="createProductInput1">
                                        <option value="" disabled selected>Select Origin</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="US">United State</option>
                                        <option value="Thai">Thai Lan</option>
                                        <option value="JP">Japan</option>
                                    </select>
                                </div>
                                @*----------------------------------Condition------------------------------------*@
                                <div class="form-group col">
                                    <input type="text" class="form-control" id="createProductInputAddress1" placeholder="Condition">
                                    @*<span asp-validation-for="Condition" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="form-row">
                                @*-------------------------------------Price---------------------------------*@
                                <div class=" form-group col">
                                    <input type="text" class="form-control" id="inputProductBiddingPrice" style="display:show" placeholder="Set standard price">
                                    @*<span asp-validation-for="BidPrice" class="text-danger"></span>*@
                                    <input type="text" class="form-control" id="inputProductFixedPrice" style="display:none" placeholder="Fixed Price">
                                    @*<span asp-validation-for="FixedPrice" class="text-danger"></span>*@
                                </div>
                                @*--------------------------------------Check Box--------------------------------*@
                                <div class="form-group col">
                                    <label class="lb-bid col-form-label mr-2">BIDDING</label>
                                    <label class="newSwitch" for="newCheckbox">
                                        <input type="checkbox" name="bidding" onchange="myToggleFunction()" id="newCheckbox" />
                                        <div class="newSlider"></div>
                                    </label>
                                    <label class="lb-fix col-form-label ml-2">FIXED PRICE</label>
                                </div>
                            </div>
                            @*-------------------------------------Duration---------------------------------*@
                            <div class="form-group ">
                                <input type="text" class="form-control" id="exampleInputDuration1" placeholder="Duration">
                                @*<span asp-validation-for="Duration" class="text-danger"></span>*@
                            </div>
                            @*-------------------------------------Short description---------------------------------*@
                            <div class="form-group ">
                                <input type="text" class="form-control" id="exampleInputShortDescription1" placeholder="Short Description">
                                @*<span asp-validation-for="ShortDescription" class="text-danger"></span>*@
                            </div>
                            @*--------------------------------------Long Description--------------------------------*@
                            <div class="form-group ">
                                <input type="text" class="form-control" id="exampleInputLongDescription1" placeholder="Long Description">
                                @*<span asp-validation-for="LongDescription" class="text-danger"></span>*@
                            </div>
                            <div class="form-row">
                                @*--------------------------------------Category--------------------------------*@
                                <div class="form-group input-group col">
                                    <select class="form-control" id="createProductCate1">
                                        <option value="" disabled selected>Select Category</option>
                                        <option value="">Cate 1</option>
                                        <option value="">Cate 2</option>
                                        <option value="">Cate 3</option>
                                        <option value="">Cate 4</option>
                                    </select>
                                </div>
                                <div class="form-group input-group col">
                                    @*--------------------------------Product type--------------------------------------*@
                                    <select class="form-control " id="createProductType1">
                                        <option value="" disabled selected>Select Type</option>
                                        <option value="">Type 1</option>
                                        <option value="">Type 2</option>
                                        <option value="">Type 3</option>
                                        <option value="">Type 4</option>
                                    </select>
                                </div>
                                @*---------------------------------Status-------------------------------------*@
                                <div class="form-group col">
                                    <select class="form-control " id="createProductStatus1">
                                        <option value="" disabled selected>Status</option>
                                        <option value="">Exhibition</option>
                                        <option value="">Active</option>
                                    </select>
                                </div>
                            </div>
                            @*---------------------------------------Avatar-------------------------------*@
                            <div class=" form-group custom-file">
                                <label class="custom-file-label text-secondary" for="customFile">Choose Avatar</label>
                                <input type="file" class="custom-file-input form-control file-upload"  id="customFile">
                            </div>
                            @*----------------------------------Slide------------------------------------*@
                            <div class=" form-group custom-file">
                                <label class="custom-file-label text-secondary" for="customFile">Product Slide</label>
                                <input type="file" class="custom-file-input form-control file-upload"  accept="image/*" id="customFile" multiple>
                            </div>
                            @*---------------------------------Button-------------------------------------*@
                            <div class="mt-3">
                                <a class="btn  btn-inverse-success btn-lg font-weight-medium btn-block" href="../../index.html">Create</a>
                                <a class="btn  btn-inverse-info btn-lg font-weight-medium btn-block" asp-controller="Admin" asp-action="createProduct">Reset Form</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>// Function toggle change input
    function myToggleFunction() {
        $('[id^="inputProduct"]').css('display', 'none');
        var checkBox = document.getElementById("newCheckbox");
        if (checkBox.checked == true) {
            $('#inputProductFixedPrice').show()
        }
        if (checkBox.checked == false) {
            $('#inputProductBiddingPrice').show()
        }
    }</script>

