﻿* {
    box-sizing: border-box;
}

footer a {
    color: #333;
}

    footer a:hover {
        color: #A3CC86;
    }

footer h1 {
    font-size: 24px;
}

a.nav-link {
    font-size: 15px;
}

h1.head-title {
    color: #E46AB2;
}

p.ctd {
    color: #1B6EC2;
}
/** Author: Quang Dang - Navbar **/
.form-search {
    background: #f0f1f5;
    padding: 10px 15px;
}

input.form-control.mr-sm-2.ip-search-home {
    border: none;
    border-radius: 0px;
    background-color: #f0f1f5;
}

.form-search button {
    background: #a3cc86;
    border: none;
    color: #fff;
    border-radius: 0px;
}

.navbar ul li a {
    font-family: 'Montserrat', sans-serif;
}
/** END **/

/** Quang Dang - Slider Homepage **/
h1.slider-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
}

.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

    .video-background-holder video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

.video-background-content {
    position: relative;
    z-index: 2;
}

.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
/** END **/

/** Author: Quang Dang - Homepage Custom CSS **/

h1, h2 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

footer.py-5.pt-5.border-top.text-muted {
    font-family: 'Montserrat', sans-serif;
}

.c-category-card-wrapper {
    padding: 16px;
    box-shadow: 0 0 25px rgba(40,47,60,.05), 0 20px 25px rgba(40,47,60,.05), 0 3px 4px rgba(40,47,60,.05);
}

.btn, button {
    border-radius: 0px !important;
}

.c-category-card {
    padding-top: 39.1%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.c-category-card__title {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 31.5%;
    word-break: break-word;
    padding-right: 16px;
}

.c-category-card .c-brand-window {
    width: 30.85%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.c-brand-window__container {
    margin-right: -26.80412%;
    padding-top: 126.80412%;
    background-color: #fff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.c-brand-window__image-container {
    position: absolute;
    left: 0;
    right: 21.14%;
    top: 0;
    bottom: 0;
}

.c-brand-window__image-element {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99999;
}

    /* Style the icon bar links */
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    }

        /* Style the social media icons with color, if you want */
        .icon-bar a:hover {
            background-color: #000;
        }

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}


.margin-top-6 {
    margin-top: 60px !important;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -2%;
    margin-right: -2%;
}

[class*=fix-] {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
}

.fix-10-12 {
    max-width: 928px !important;
}

.margin-bottom-1 {
    margin-bottom: 10px !important;
}

.margin-bottom-2 {
    margin-bottom: 20px !important;
}

.flex > .col-6-12 {
    width: 50%;
}

.flex > [class*=col-] {
    padding-left: 2%;
    padding-right: 2%;
}

.animated [class*=ae-] {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition-timing-function: cubic-bezier(.25,.1,.2,1);
}

.p.tiny, blockquote.tiny, p.tiny {
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 12px;
    font-weight: 400;
}


/** Author: An Custom CSS **/
.about-body {
    background-color: white;
    font-family: "basisGrotesque", serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
}

.about-container {
    margin-top: 100px;
}

.about-header-text {
    font-family: "Castoro", serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1;
    color: #03f;
}

.about-text-content {
    margin-top: 12px;
    color: #565b60;
    word-spacing: 5px;
}

.about-link {
    color: #03f;
}

.about-btn {
    background-color: #03f;
    color: white;
}

.my-input {
    position: relative;
}

.my-label {
    position: absolute;
}

.an-input {
    border-radius: 50px;
}
/*** End An Custom CSS ***/


button.btn.detail-item {
    background: #a3cc86;
    color: #fff;
}

.mansory article {
    padding: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    background: #fff;
}

.mansory {
    columns: 250px;
    column-gap: 20px;
}

    .mansory article {
        break-inside: avoid-column;
        margin-bottom: 1rem;
    }

    .mansory img {
        width: 100%;
    }



/* With arrow tabs */

/* Rounded tabs */

@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    }
}

@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
    }
}

.with-arrow .nav-link.active {
    position: relative;
}

    .with-arrow .nav-link.active::after {
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #2b90d9;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }

.nav-pills .nav-link {
    color: #555;
}

.text-uppercase {
    letter-spacing: 0.1em;
}


.card {
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.profile-pic {
    width: 300px !important;
    height: 300px;
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #1E88E5 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-prev:hover {
        color: #0D47A1 !important;
        background-color: transparent !important
    }

.owl-dots {
    display: none
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.item {
    display: none
}

.next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.item.show {
    display: block;
    transition-duration: 0.4s
}

@media screen and (max-width: 999px) {

    .next,
    .prev {
        transform: scale(1);
        opacity: 1
    }

    .item {
        display: block !important
    }
}


/** Author: Chuong Dang - Contact Us Page **/

.hero-contact h1 {
    color: #fff;
}

.hero-contact p {
    color: #fff;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    .hero-contact p {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    .hero-contact h1 {
        font-size: 2.5rem;
    }
}
/*End hero-contact*/

/*Contactus*/
.contactus-section {
    padding: 2.5rem 2rem 0.1rem;
    text-align: center;
    margin-bottom: 30px;
}

    .contactus-section i {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #afb1c1;
    }

    .contactus-section h1 {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

.contactus-emphasis {
    font-size: 1.1rem;
    color: #24ae2a;
    font-weight: 800;
    text-emphasis-style: inherit;
    font-style: italic;
    font-size: 1.1rem;
    color: #24ae2a;
    font-weight: 800;
    text-emphasis-style: inherit;
    font-style: italic;
}
/*End Contactus*/
.subtitle {
    font-size: 0.9rem;
    text-transform: initial;
    letter-spacing: 0rem;
    display: block;
    margin-top: .4rem;
    color: #868686;
    line-height: 1.4rem;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
/*End Contact Form*/

*, ::after, ::before {
    box-sizing: border-box;
}

.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.active-pink input.form-control[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.active-purple input.form-control[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input.form-control[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
}

.active-purple .fa, .active-purple-2 .fa {
    color: #ce93d8;
}

.active-pink .fa, .active-pink-2 .fa {
    color: #f48fb1;
}

input#exampleInputEmail1::placeholder {
    font-size: 15px;
}

input#exampleInputPassword1::placeholder {
    font-size: 15px;
}

.auth-form-btn {
    background: #a3cc86;
    color: #fff;
    border: #a3cc86;
}

    .auth-form-btn:hover {
        background: #a3cc86;
        color: #fff;
        border: #a3cc86;
    }

/** End Contact Page **/

/** Author: An Ngo - Login Page **/

.about-body {
    background-color: white !important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
}

.about-container {
    margin-top: 100px;
}

.about-header-text {
    font-family: "Castoro", serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1;
    color: #03f;
}

.about-text-content {
    margin-top: 12px;
    color: #565b60;
    word-spacing: 5px;
}

.about-link {
    color: #03f;
}

.about-btn {
    background-color: #03f;
    color: white;
}
/*--------------------------------End About us-----------------------------------------*/

/*---------------------------------User Login------------------------------------------*/
.login-body {
    background-color: #fcfcfc !important;
}

.my-checked-icon {
    background-color: limegreen;
    color: white;
    border-radius: 50%;
    padding: 4px;
}

.my-login-ul {
    list-style: none;
    margin-left: -1.5em;
    text-align: justify;
}

.my-login-container {
    box-shadow: gray 1px 1px 10px;
}

button.btn.btn-block.btn-facebook.auth-form-btn {
    background: #3B5998;
}

button.btn.btn-block.btn-google.auth-form-btn {
    background: #BB0001;
}

/** End Login Page **/

/** Author: Chuong Dang - Helps Page **/

.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
}

    .accordion.active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .accordion.active:after {
        content: "\2212";
    }

.panel {
    padding: 0 18px;
    background-color: #eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content {
    height: 100%;
    padding: 20px 20px 10px;
    color: #fff;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

/** Author: An Ngo - Product Create Section CSS **/
.newSwitch {
    height: 42px;
    position: relative;
    width: 90px;
}

    .newSwitch input {
        display: none;
    }

.newSlider {
    background-color: limegreen;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

    .newSlider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 34px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }

#newCheckbox:checked + .newSlider {
    background-color: deepskyblue;
}

.lb-fix,
.lb-bid {
    color: #ccc;
}

#newCheckbox:checked + .newSlider:before {
    transform: translateX(56px);
}

/** End Product Create Section CSS **/


/** Author: Chuong Dang About Section CSS **/
.about-body {
    background-color: white !important;
    font-family: "basisGrotesque", serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
}

.about-container {
    margin-top: 100px;
}

.about-header-text {
    font-family: "Castoro", serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1;
    color: #03f;
}

.about-text-content {
    margin-top: 12px;
    color: #565b60;
    word-spacing: 5px;
}

.about-link {
    color: #03f;
}

.about-btn {
    background-color: #03f;
    color: white;
}

/** Author: Duc Anh - Product Detail CSS **/


hr {
    margin: 0;
    width: 100%;
    color: #DDDDDD;
    background-color: #DDDDDD;
}

.btn,
.form-control {
    border-radius: 0;
}

.productDetails .borderInformation {
    border: 1px #DDDDDD solid;
    margin-bottom: 20px;
}

.productName {
    font-size: 40px;
    font-weight: 900;
}

.sliderProduct {
    background-color: #f6f6f6;
}

    .sliderProduct .sliderPhoto {
        max-width: 100%;
    }

.thumbnailImageProduct ul {
    list-style-type: none;
    display: flex;
    /* padding: 0; */
}

    .thumbnailImageProduct ul li .thumbnailImage {
        width: 120px;
        height: 80px;
    }

.bidTime {
    padding: 16px;
    background-color: #03f;
    color: white;
    text-align: center;
}

    .bidTime .closesIn,
    .timeBid {
        font-size: 25px;
    }

    .bidTime .notBid {
        font-size: 15px;
    }

.bid {
    margin: 17px 15px;
    padding: 0px;
    background-color: white;
    color: black;
}

    .bid .titleBid .textSubject {
        font-size: 16px;
        font-weight: 700;
    }

.currentBid .titleBid .textSubject {
    font-size: 25px;
    font-weight: 700;
}

.currentBid .nRPrice {
    font-size: 15px;
    color: #919397;
}

.bid .notFee {
    font-size: 15px;
    margin-bottom: 16px;
}

    .bid .notFee a {
        color: #919397;
    }

.bid .sellerLocation .locationName {
    font-size: 12px;
}

.bid .samplePrice {
    padding: 0 !important;
    width: 100%;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    padding: 13px 16px;
}

.bid .bidForm {
    padding: 13px 16px;
    height: 48px;
}

.bid .bidButton {
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    padding: 13px 0px;
}

.bid .bidHistory span {
    font-size: 13px;
}

.bid .modelBid .modal-content {
    padding: 15px;
    font-size: 15px;
    border-radius: 0;
}

.bid .modelBid .modal-title {
    font-size: 30px;
    font-weight: 700;
}

.bid .modelBid .modal-body b {
    font-size: 30px;
}

.ortherInfo {
    padding: 20px 0;
}

    .ortherInfo div ul {
        list-style: none;
        padding-left: 15px;
    }

        .ortherInfo div ul li {
            padding: 5px 0px;
        }

            .ortherInfo div ul li span {
                padding-left: 8px;
                font-size: 14px;
            }

    .ortherInfo .payment span {
        padding: 5px 5px;
        color: #8d8a8a;
    }

    .ortherInfo .shareLOT span {
        margin: 5px 0px;
    }

        .ortherInfo .shareLOT span a {
            padding: 0px;
            color: white;
        }

.productDLSS #accordionDLSS {
    margin-top: 20px;
    border-radius: 0;
}

.productDLSS .card {
    border-style: none;
}

    .productDLSS .card .card-header {
        background-color: white;
        border-style: none;
    }

        .productDLSS .card .card-header button {
            font-size: 21px;
            font-weight: 700;
            color: black;
            padding-bottom: 6px;
        }

    .productDLSS .card .card-body {
        font-size: 17px;
    }

        .productDLSS .card .card-body p {
            color: #919397;
        }

.ourExpertsSeller p {
    color: #919397;
    font-size: 14px;
    margin: 0px;
    padding-bottom: 8px;
}

.author div p {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.seller .sellerName {
    padding: 0px;
    margin-bottom: 5px;
}

.seller div p {
    font-size: 15px;
    margin: 0px;
}


.card {
    border-radius: 0;
    border: 0;
}

.userInformation {
    background-color: #F8F9FA;
}

    .userInformation .card {
        background-color: #F8F9FA;
        margin-bottom: 20px;
    }

    .userInformation .card-body {
        padding: 0;
    }

        .userInformation .card-body .useImage {
            width: 150px;
        }

        .userInformation .card-body .userName {
            font-size: 20px;
        }

.userOrtherInfo {
    font-size: 15px;
}

    .userOrtherInfo .row {
        margin: 20px 0;
    }

        .userOrtherInfo .row .col-9 {
            padding-left: 0;
        }

.userAction {
    padding-left: 0;
}

    .userAction .auctionHistory,
    .invoices,
    .wishLists {
        margin: 20px 0px;
    }

.invoices,
.wishLists, .productList, .auctionHistory table {
    font-size: 13px;
}
