﻿@{
    ViewData["Title"] = "Home Page";
}
<!-- Background video -->
<div class="video-background-holder">
    <div class="video-background-overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="~/videos/slider-2.mp4" type="video/mp4">
    </video><!-- end video source-->
    <div class="video-background-content container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="slider-title display-4">Online Art Gallery</h1>
                <p class="lead mb-0">You can easily to pick up which product you want in this website</p>
                <p class="lead">
                    <a href="#" class="btn btn-light mt-4">Click Here to Explore</a>
                </p>
            </div>
        </div><!-- end text/button area -->
    </div>
</div>
<!-- end video-background-overlay-->
<!-- SECTION 1-->
<section class="sec-home-1 py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5>
                    Recommended categories
                </h5>
            </div>
            <!-- .col-lg-4 -->
            <div class="col-lg-4 p-3">
                <div class="c-category-card-wrapper c-category-card-wrapper--vertical" style="background-color: rgb(163, 204, 134);"><a href="https://www.catawiki.com/c/117-modern-contemporary-art" class="c-category-card"><h4 class="u-typography-h4-serif c-category-card__title">Modern &amp; Contemporary Art</h4><div class="c-brand-window"><div class="c-brand-window__container"><div class="c-brand-window__image-container"><div class="c-brand-window__image-element" style="background-image: url(&quot;https://cdn.catawiki.net/assets/catawiki/auction/categories-images/117-0055b5c9be6a797d190fc9101fd4418facf0f50e-original.jpg&quot;);"></div></div></div></div></a></div>
            </div>
            <!-- /.col-lg-4 -->
            <!-- .col-lg-4 -->
            <div class="col-lg-4 p-3">
                <div class="c-category-card-wrapper" style="background-color: rgb(243, 205, 219);"><a href="https://www.catawiki.com/c/85-art" class="c-category-card"><h4 class="u-typography-h4-serif c-category-card__title">Art</h4><div class="c-brand-window"><div class="c-brand-window__container"><div class="c-brand-window__image-container"><div class="c-brand-window__image-element" style="background-image: url(&quot;https://cdn.catawiki.net/assets/catawiki/auction/categories-images/85-7b6733020674820d72574dad12be5da35373c3da-original.jpg&quot;);"></div></div></div></div></a></div>
            </div>
            <!-- /.col-lg-4 -->
            <!-- .col-lg-4 -->
            <div class="col-lg-4 p-3">
                <div class="c-category-card-wrapper" style="background-color: rgb(176, 234, 223);"><a href="https://www.catawiki.com/c/139-books-comics" class="c-category-card"><h4 class="u-typography-h4-serif c-category-card__title">Books &amp; Comics</h4><div class="c-brand-window"><div class="c-brand-window__container"><div class="c-brand-window__image-container"><div class="c-brand-window__image-element" style="background-image: url(&quot;https://cdn.catawiki.net/assets/catawiki/auction/categories-images/139-1324d8d5a41fd3d1f8da76d0e7c5fddb2fd909a8-original.jpg&quot;);"></div></div></div></div></a></div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</section>
<!-- / SECTION 1-->
<!-- SECTION 2-->
<section class="pt-5 pb-5">
    <div class="container">

        <div class="row pt-4">
            <div class="col-6 col-md-3">
                <img alt="image" class="img-fluid rounded mt-1 mb-2" src="https://images.unsplash.com/photo-1533720141687-c2f685704710?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=b66c52d6f252a5b02153a9e22d887a9e">
            </div>
            <div class="col-6 col-md-3">
                <h2> Blueprints</h2>
                <p class="text-h3">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. </p>
            </div>
            <div class="col-6 col-md-3 mt-4 mt-md-0">
                <img alt="image" class="img-fluid rounded mt-1 mb-2" src="https://images.unsplash.com/photo-1533667586627-9f5ddbd42539?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=b15a45ec3558ad9ec4eb9f870da4345b">
            </div>
            <div class="col-6 col-md-3 mt-4 mt-md-0">
                <h2> Blueprints</h2>
                <p class="text-h3">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. </p>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-6 col-md-3">
                <img alt="image" class="img-fluid rounded mt-1 mb-2" src="https://images.unsplash.com/photo-1515703817793-511cee221bb9?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3278cc0f39ea17709d5ef3aa4f9bd8ed">
            </div>
            <div class="col-6 col-md-3">
                <h2> Blueprints</h2>
                <p class="text-h3">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. </p>
            </div>
            <div class="col-6 col-md-3 mt-4 mt-md-0">
                <img alt="image" class="img-fluid rounded mt-1 mb-2" src="https://images.unsplash.com/photo-1438857871662-c42a0b3d232e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=cf1fe36f99859619efcb8c9a4d00547b">
            </div>
            <div class="col-6 col-md-3 mt-4 mt-md-0">
                <h2> Blueprints</h2>
                <p class="text-h3">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. </p>
            </div>
        </div>
    </div>
</section>
<!-- / SECTION 2-->
<!-- SECTION 3-->
<section class="pt-5 pb-5">
    <div class="container">
        <article class="row card  border-0 flex-md-row justify-content-between align-items-center card-top">
            <a class="col-md-5  order-md-2 order-1 w-md-25" href="#">
                <img class="img-fluid" src="https://via.placeholder.com/1100x1000/5fa9f8/ffffff" srcset="https://via.placeholder.com/1110x1000/5fa9f8/ffffff 2x" alt="Pic 8">
            </a>
            <div class="card-body order-2 order-md-1 col-md-7">
                <div class=" text-uppercase font-weight-bold mb-4 text-warning">Featured Article</div>
                <h2 class="card-title display-4 font-weight-bold">
                    <a href="#" class="text-dark" title="Blog title">Best Easy Recipes for Breakfast Menus</a>
                </h2>
                <div class="card-text mb-4">
                    <p class="lead"> When you need some breakfast inspiration, try one of these easy breakfast recipes.</p>
                </div>
                <div class="mt-auto d-flex align-items-center pt-2">
                    <div class="mr-3">
                        <img class="d-block img-fluid rounded-circle" src="https://via.placeholder.com/40x40/5fa9f8/ffffff " srcset="https://via.placeholder.com/120x120/5fa9f8/ffffff 2x" alt="user">
                    </div>
                    <div class="d-block">
                        <div class="font-weight-bold">User Name</div>
                        <div class="text-grey">Dec 14 · 15 min read</div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- / SECTION 3-->
<!-- SECTION 4-->
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh;
        background-size: cover;
        background-image: url(/images/img1.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        box-shadow: inset 0 0 0 2000px #000000ab;
">
    <div class="container ">
        <div class="row align-items-center d-flex justify-content-between">
            <div class="col-12 col-md-6 pb-5 order-2 order-sm-2 ">
                <h1 class="  text-white font-weight-bold mb-3 mt-5 display-3">Find Your Style.</h1>
                <p class="lead text-white">A collection of coded HTML and CSS elements to help your build your new website. Clean design, fully responsive and based on Bootstrap 4.</p>
                <div class=" d-flex mt-3 mb-1">
                    <a class="btn btn-primary btn-raised text-uppercase btn-lg  mt-md-3 " href="#" role="button">Check It Out</a>
                </div>
            </div>
            <div class="col-12 col-md-6 order-sm-1 order-md-2  ">

            </div>
        </div>
    </div>
</section>
<!-- / SECTION 4-->
<!-- SECTION 5-->
@*<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item row no-gutters active">
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/222/fff?text=1"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/444?text=2"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/888?text=3"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/111/fff?text=4"></div>
                        </div>
                        <div class="carousel-item row no-gutters">
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280?text=5"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/555?text=6"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/333/fff?text=7"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/bbb?text=8"></div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
<!-- / SECTION-->
