﻿
@{ ViewData["Title"] = "Register"; }

<section class="register-body py-5" style="background-image: url(https://bunkermedia.co.uk/wp-content/uploads/2018/06/splash_bottom_border.png); background-position: left; background-size: cover; background-attachment: fixed;">
    <div class="container">
        <div class="row flex-grow">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 mx-auto">
                <div class=" text-left p-4 mb-5 mt-5 bg-white my-login-container align-items-lg-center text-center">
                    <div class="container">
                        @*-----------------------------------------Logo-------------------------------------------------*@
                        <img src="~/images/logo-art.png" width="70%">
                    </div>
                    <form class="pt-3">
                        <div class="form-row ">
                            @*----------------Full name--------------------*@
                            <div class="form-group input-group col-7">
                                <input type="text" class="form-control my-new-input" id="exampleInputFullname1" placeholder="Fullname">
                            </div>
                            @*----------------Phone--------------------*@
                            <div class="form-group input-group col">
                                <input type="tel" class="form-control " id="exampleInputPhone1" placeholder="Phone">
                            </div>
                        </div>
                        @*----------------Email--------------------*@
                        <div class="form-group input-group">
                            <input type="email" class="form-control " id="exampleInputEmail1" placeholder="Email">
                            <div class="input-group-append">
                                <span class="input-group-text">@@Example.com</span>
                            </div>
                        </div>
                        @*----------------Password--------------------*@
                        <div class="form-group input-group">
                            <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Password">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="ml-2 mr-2 fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group input-group col">
                                @*----------------------country select-------------------*@
                                <select class="form-control" id="sel1">
                                    <option disabled selected>Select Country</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <div class="form-group input-group col">
                                @*----------------------State select-------------------*@
                                <select class="form-control" id="sel2">
                                    <option disabled selected>Select State</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group input-group col-4">
                                @*----------------------city select-------------------*@
                                <select class="form-control" id="sel3">
                                    <option disabled selected>Select City</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <div class="form-group input-group col">
                                @*-------------------Address--------------------------*@
                                <input type="text" class="form-control " id="exampleInputAddress1" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-row ">
                            @*----------------Display image--------------------*@
                            <!--<div class="avatar-wrapper">
                                <img class="profile-pic py-2" src="" width="100%" />
                            </div>-->
                            @*----------------Choose image--------------------*@
                            <div class=" form-group custom-file">
                                <label class="custom-file-label text-secondary" for="customFile">Choose Avatar</label>
                                <input type="file" class="custom-file-input form-control file-upload" accept="image/*" id="customFile">
                            </div>
                        </div>
                        @*----------------Sign up button--------------------*@
                        <div class="mt-3">
                            <a class="btn btn-block btn-success btn-lg font-weight-medium auth-form-btn " href="../../index.html">SIGN UP</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</section>