﻿@{
    ViewData["Title"] = "Update About Content";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
 }

<section class="aboutus-section-admin">  
    <div class="container d-flex align-items-lg-center ">
        <div class="row flex-grow">
            <div class="col-lg-8 mx-auto">
                <div class=" text-left p-4 mb-5 mt-5 bg-white my-login-container align-items-lg-center text-center">
                    <div class="container text-center">
                        <img src="~/images/127174563_2747141828836179_7938661406780594051_n.png" width="50%">
                    </div>
                    <form class="pt-3">
                        @*--------------------------------------Content--------------------------------*@
                        <div class="form-group ">
                            <input type="text" class="form-control " id="exampleInputLongDescription1" placeholder="Content" multiple>
                        </div>
                        @*---------------------------------------Image-------------------------------*@
                        <div class=" form-group custom-file">
                            <label class="custom-file-label text-secondary" for="customFile">Choose Image</label>
                            <input type="file" class="custom-file-input form-control file-upload" accept="image/*" id="customFile">
                        </div>

                        @*--------------------------------------Content 2--------------------------------*@
                        <div class="form-group ">
                            <input type="text" class="form-control " id="exampleInputLongDescription1" placeholder="Content 2" multiple>
                        </div>
                        @*---------------------------------------Image 2-------------------------------*@
                        <div class=" form-group custom-file">
                            <label class="custom-file-label text-secondary" for="customFile">Choose Image</label>
                            <input type="file" class="custom-file-input form-control file-upload" accept="image/*" id="customFile">
                        </div>

                        @*--------------------------------------Content 3--------------------------------*@
                        <div class="form-group ">
                            <input type="text" class="form-control " id="exampleInputLongDescription1" placeholder="Content 3" multiple>
                        </div>
                        @*---------------------------------------Image 3-------------------------------*@
                        <div class=" form-group custom-file">
                            <label class="custom-file-label text-secondary" for="customFile">Choose Image</label>
                            <input type="file" class="custom-file-input form-control file-upload" accept="image/*" id="customFile">
                        </div>
                        @*---------------------------------Button-------------------------------------*@
                        <div class="mt-3">
                            <a class="btn  btn-inverse-success btn-lg font-weight-medium btn-block" href="../../index.html">Update</a>
                            <a class="btn  btn-inverse-info btn-lg font-weight-medium btn-block" asp-controller="Admin" asp-action="createProduct">Reset Form</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
