﻿@*@model OnlineArtGallery.Models.User*@
@{
    ViewData["Title"] = "Buyer List";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}
<!--partial-->
<div class="content-wrapper chuongFont">
    <div class="row">
        <div class="col-md-9 grid-margin stretch-card mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 d-flex justify-content-start">
                                <img src="~/images/logo-art.png" width="150">
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <h3>Create New Buyer</h3>
                            </div>
                        </div> 
                    </div>
                    <form class="pt-3">
                        <div class="form-row">
                            @*---------------------------------Full Name-------------------------------------*@
                            <div class="form-group col-7">
                                <input type="text" class="form-control" id="createuserInputName1" placeholder="Full Name">
                                @*<span asp-validation-for="FullName" class="text-danger"></span>*@
                            </div>
                            @*------------------------------------Phone----------------------------------*@
                            <div class="form-group col">
                                <input type="tel" class="form-control" id="createuserInputPhone1" placeholder="Phone number">
                                @*<span asp-validation-for="PhoneNumber" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="form-row ">
                            @*------------------------------------Gender----------------------------------*@
                            <div class="form-group input-group col-5">
                                <select class="form-control"  id="createuserGender1">
                                    <option value="" disabled selected>Select Gender</option>
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                    <option value="">Other</option>
                                </select>
                            </div>
                            @*------------------------------------Day Of Birth----------------------------------*@
                            <div class="form-group col">
                                <input type="text" class="form-control" onclick="(this.type='date')" id="createuserInputAddress1" placeholder="Day Of Birth">
                                @*<span asp-validation-for="DOB" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="form-row">
                            @*------------------------------------Email----------------------------------*@
                            <div class="form-group col-7">
                                <input type="email" class="form-control " id="createuserInputEmail1" placeholder="Email">
                                @*<span asp-validation-for="Email" class="text-danger"></span>*@
                            </div>
                            @*----------------------------------Role------------------------------------*@
                            <div class="form-group col">
                                <select class="form-control " id="createuserInput4">
                                    <option value="" disabled selected>Role</option>
                                    <option value="">Seller</option>
                                    <option value="">Buyer</option>
                                    <option value="">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            @*-----------------------------------Password-----------------------------------*@
                            <div class="form-group col ">
                                <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Password">
                                @*<span asp-validation-for="Password" class="text-danger"></span>*@
                            </div>
                            @*---------------------------------Comfirm Password-------------------------------------*@
                            <div class="form-group col ">
                                <input type="password" class="form-control " id="exampleInputConfirmPassword1" placeholder="Confirm password">
                            </div>
                        </div>

                        <div class="form-row">
                            @*----------------------------------Country------------------------------------*@
                            <div class="form-group input-group col">
                                <select class="form-control"  id="createuserCointry1">
                                    <option value="" disabled selected>Select Country</option>
                                    <option value="VN">Viet Nam</option>
                                    <option value="US">United State</option>
                                    <option value="Thai">Thai Lan</option>
                                    <option value="JP">Japan</option>
                                </select>
                            </div>
                            @*----------------------------------State------------------------------------*@
                            <div class="form-group input-group col">
                                <select class="form-control" id="createuserInput2">
                                    <option value="" disabled selected>Select State</option>
                                    <option value="State1">State 1</option>
                                    <option value="State2">State 2</option>
                                    <option value="State3">State 3</option>
                                    <option value="State4">State 4</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            @*--------------------------------City--------------------------------------*@
                            <div class="form-group col-5">
                                <select class="form-control" id="createuserInput3">
                                    <option value="" disabled selected>City</option>
                                    <option value="City1">City 1</option>
                                    <option value="City2">City 2</option>
                                    <option value="City3">City 3</option>
                                    <option value="City4">City 4</option>
                                </select>
                            </div>
                            @*-----------------------------------Address-----------------------------------*@
                            <div class="form-group col">
                                <input type="text" class="form-control" id="exampleInputAddress1" placeholder="Address">
                                @*<span asp-validation-for="Address" class="text-danger"></span>*@
                            </div>
                        </div>
                        @*----------------------------------Button------------------------------------*@
                        <div class="mt-3">
                            <a class="btn  btn-inverse-success btn-lg font-weight-medium btn-block" href="../../index.html">Create</a>
                            <a class="btn  btn-inverse-info btn-lg font-weight-medium btn-block" asp-controller="Admin" asp-action="CreateUser">Reset Form</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


