﻿@{ ViewData["Title"] = "Helps Center"; }

<section class="helps-section py-5">
    <div class="container">
        <div class="row mb-lg-5 mt-lg-5">
            <div class="col-4">
                <h1 class="head-title">Help Centre</h1>
            </div>
        </div>
        <div class="row row-flex">
            <div class="col-md-6">
                <div class="row content text-dark py-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">I'm a buyer</h5>
                            <p class="card-text">Get helps with lots, shipping status, your order and more</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row content text-dark py-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">I'm a buyer</h5>
                            <p class="card-text">Get help with your submmited lot, your payment, estimationis and more</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*End container*@
    </div>
    <div class="container">
        <h3 class="pt-4 mb-lg-4 font-italic align-items-start font-weight-bold">Most asked</h3>
        <div class="row mb-lg-5">
            <button class="accordion" id="chuong_accordion">I've paid for my item. Why haven’t I received it yet?</button>
            <div class="panel" id="chuong_panel">
                <p></p>
                <p>
                    There are a number of reasons why your order could be taking some time to arrive. For example, if the seller lives in a different country to you, shipping might take longer.&nbsp;
                </p>
                <p>As soon as the seller ships the item, we’ll send you an email which you can use to track it. You can also track it in the order details. This will give you an idea of what stage of the shipping process it’s in and whether it’s been held up at a particular stage.&nbsp;</p>
                <p>You can also check the estimated shipping time in your item’s order details to see when you can expect it to arrive.</p>
                <p>If you can’t find the tracking information or it’s taking longer than the estimated shipping time, reach out to the seller. We recommend contacting them in English or in their own language.</p>
                <p>All of this information can be found on the order page that you can find in Your Won Lots</p>

                <p>If your lot has not been delivered within 20 days of arranging shipping, let us know. That way, we can make sure your payment doesn’t go through to them until all issues are resolved.</p>
            </div>

            <button class="accordion" id="chuong_accordion">I have a question about the content of a lot</button>
            <div class="panel" id="chuong_panel">
                <p>Sellers are responsible for making sure our lot descriptions are complete and have the correct information, always read through the description thoroughly if you are wondering about a specific aspect of the lot.&nbsp;</p>
                <p>In case you're wondering, specifically, about some aspect of the shipping of the lot, please also have a look through our Frequently Asked Questions on that subject.</p>
                <p>If you notice any essential missing information or have specific questions about the object you want to place a bid on, that have not been answered by the provided information, please contact us by clicking on the button below. Include your question and any relevant information in your message and we'll try to get back to you as soon as we can.&nbsp;</p>
                <p>Given the global nature of our platform, and us or our sellers not being able to answer all questions directly, please be aware that we may not be able to provide an answer before the auction closes. In addition, our expert generally cannot answer any questions you might have in relation to the shipping of a specific lot, please reach out of us <a href="https://www.Online Art Gallery.com/help/buyer-shipment-delivery">here</a> if you've got questions about shipping. The sooner you send in a message to us, the higher the chance is that we'll be able to answer you in time.</p>
            </div>

            <button class="accordion" id="chuong_accordion">What should I do if the seller isn’t responding to my messages?</button>
            <div class="panel" id="chuong_panel">
                <p>In our experience, most sellers respond within 48 hours. Since we have sellers from all over the world, it might take some time for the seller to get back to you.</p>
                <p>If after reaching out to the seller your question still hasn't been answered, please contact us by clicking on the button below. Include your question and any relevant information in your message and we'll try to get back to you as soon as we can.</p>
            </div>

            <button class="accordion" id="chuong_accordion">What should I do if my lot has been delivered and does not conform to its description?</button>
            <div class="panel" id="chuong_panel">
                <p>If your lot has been delivered, but unfortunately does not conform to its description, or you believe that the item is fake, we advise you to contact the seller directly to share your concerns with them in an effort to come to a mutual solution. In said message to the seller, please attach pictures of the item you received to support you in explaining your concerns.</p>
                <p>If the matter is not solved through direct contact with the seller, please make sure to inform us within 3 days after delivery was made (the exact date will be recorded through Track &amp; Trace). Please be aware that once this 3 day period has expired, your payment will be released to the seller and we can no longer open a claim on your behalf or guarantee a refund.&nbsp;</p>
                <p>When contacting us on this topic, please include:</p>
                <p>. At least 3 photos of the lot in the state you received it</p>
                <p>. At least 2 photos of the package (where the label is clearly visible)</p>
                <p>. A detailed description of the lot in the state you received it, highlighting the main differences compared to the initial lot description</p>
                <p>Please note: If you believe that the item is fake, &nbsp;please send us the photos as requested above as well as a copy of all supporting documents that would support the item not being authentic.</p>
            </div>

            <button class="accordion" id="chuong_accordion">Can I withdraw an item I have offered for auction?</button>
            <div class="panel" id="chuong_panel">
                <p>If a lot you've offered up for auction is no longer available or you are unable to deliver the lot according to its description, e.g if it is lost or damaged while the auction is ongoing, then please inform us.&nbsp;</p>
                <p>Based on your notification, the lot may be removed from the auction or we may be forced to cancel the transaction. We will ask you to provide documents, files or other forms of proof that support your notification. Depending on the circumstances, you may be held liable for any damages caused by such removal or cancellation.</p>
            </div>

            <button class="accordion" id="chuong_accordion">When and how do I arrange the pick-up of an item?</button>
            <div class="panel" id="chuong_panel">
                <p></p>
                <p><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;If your lot has not been picked up, you need to contact the buyer to come to an agreement about the collection. The buyer is obligated to collect the lot, and as the seller, you are required to keep the lot available until the buyer collects it. You can contact the buyer through your order detail page (https://www.Online Art Gallery.com/seller/lots). If the buyer doesn't respond or doesn't collect the lot within 10 days, please contact us and we will mediate to solve the problem.\n\nIf a third party is involved in the collection of the lot, the buyer will take the resposibility for the whole process. We recommend that you, in case of a specific pickup situation, first gain more information from the buyer. Don't give a lot away without being sure that it is an official collection from the buyer.\n\nIf the buyer selected the pickup option but now wants to arrange for shipment of the lot, both of you can come to an agreement. If the lot was set as 'Pickup required', we advise you to be more flexible and cooperate to meet the needs of the buyer and don't lose the sale.&quot;}" data-sheets-userformat="{&quot;2&quot;:13185,&quot;3&quot;:[null,0],&quot;10&quot;:0,&quot;11&quot;:4,&quot;12&quot;:0,&quot;15&quot;:&quot;Calibri&quot;,&quot;16&quot;:10}">If your lot has not been picked up, you need to contact the buyer to come to an agreement about the collection. The buyer is obligated to collect the lot, and as the seller, you are required to keep the lot available until the buyer collects it. You can contact the buyer through your <a href="https://www.Online Art Gallery.com/seller/lots">order detail page</a>. If the buyer doesn't respond or doesn't collect the lot within 10 days, please contact us and we will mediate to solve the problem.<br><br>If a third party is involved in the collection of the lot, the buyer will take the resposibility for the whole process. We recommend that you, in case of a specific pickup situation, first gain more information from the buyer. Don't give a lot away without being sure that it is an official collection from the buyer.<br><br>If the buyer selected the pickup option but now wants to arrange for shipment of the lot, both of you can come to an agreement. If the lot was set as 'Pickup required', we advise you to be more flexible and cooperate to meet the needs of the buyer and don't lose the sale.</span></p>

            </div>

            <button class="accordion" id="chuong_accordion">Seller - Feedback Policy</button>
            <div class="panel" id="chuong_panel">
                <p></p>
                <p><span style="font-weight: 400;">It is highly important for us to be able to provide a reliable and safe experience for both buyers and sellers. In order to do so, we provide our buyers the possibility to give feedback related to their purchases. Furthermore, we understand our sellers value feedback that reflects the services they deliver and it helps them grow as a reliable seller on our platform. In this light, we allow sellers to react to feedback and, if the feedback is not in accordance with this Policy, sellers may request that Online Art Gallery remove or adjust the feedback in question.&nbsp;</span></p>
                <p><span style="font-weight: 400;">To ensure feedback is both constructive and fair, we expect both our buyers and sellers to stick to the following feedback rules and removal conditions. If you have any questions, you can also take a look at our&nbsp;</span><a href="http://Online Art Gallery.com/help"><span style="font-weight: 400;">FAQs</span></a><span style="font-weight: 400;">.</span></p>
                <p><strong>How to respond to feedback</strong></p>
                <p><span style="font-weight: 400;">If the feedback given contains a comment from the buyer, the seller is able to respond. This reaction will be publicly visible. When reacting to feedback, we expect you to respect the following:</span></p>
                <p><strong>Do’s:&nbsp;</strong></p>
                <ul><li style="font-weight: 400;"><span style="font-weight: 400;">Use a friendly and polite tone.</span></li><li style="font-weight: 400;"><span style="font-weight: 400;">Contact the buyer directly to resolve any issues as soon as possible. Find out how to contact the buyer&nbsp;</span><a href="https://Online Art Gallery.com/help/how-to-contact-the-buyer/how-do-i-contact-the-buyer-of-a-lot"><span style="font-weight: 400;">here</span></a><span style="font-weight: 400;">.</span></li></ul>
                <p><strong>Don’ts:</strong></p>
                <ul><li style="font-weight: 400;"><span style="font-weight: 400;">Don’t use any insulting, harassing, discriminating or otherwise inappropriate language.&nbsp;</span></li><li style="font-weight: 400;"><span style="font-weight: 400;">Don’t include any personal data (such as name, address or phone number) of others in your reaction.</span></li><li style="font-weight: 400;"><span style="font-weight: 400;">Don’t react to feedback in a way that goes against our&nbsp;</span><span style="font-weight: 400;"><a href="https://Online Art Gallery.com/help/seller-policies/general-terms-of-use">Terms and Conditions</a>.</span></li></ul>
                <p><strong>Please note:</strong></p>
                <p><span style="font-weight: 400;">You are able to react to the buyer’s feedback within 90 days after the feedback has been left. We strongly encourage our buyers and sellers to resolve any issues between themselves. To support this, buyers are also able to adjust their feedback within this 90 day period. If you have resolved an issue for a buyer or have come to an agreement with them, you are free to politely ask the buyer to adjust their feedback.</span></p>
                <p><strong>Does Online Art Gallery adjust buyer feedback/seller reactions?</strong></p>
                <p><span style="font-weight: 400;">In general, Online Art Gallery does not change or remove any feedback. However, Online Art Gallary reserves the right to, at its discretion, either remove, neutralise or adjust feedback on request. We do so only if the situation justifies this in accordance with this Policy. Such requests can be sent to our Customer Support team via our&nbsp;</span><a href="https://www.Online Art Gallery.com/help/contact_us/seller-terms-and-policies/seller-feedback-policy?c=seller-help%2Fseller-terms-and-policies"><span style="font-weight: 400;">contact form</span></a><span style="font-weight: 400;">.</span></p>
                <p><strong>Online Art Gallery entirely removes buyer feedback/seller reactions only if:</strong></p>
                <ul><li style="font-weight: 400;"><span style="font-weight: 400;">A user is violating Art Gallary’s&nbsp;</span><a href="https://Online Art Gallery.com/help/seller-policies/general-terms-of-use"><span style="font-weight: 400;">Terms and Conditions</span></a><span style="font-weight: 400;">&nbsp;</span></li><li style="font-weight: 400;"><span style="font-weight: 400;">The feedback relates to an error or issue that is not caused by the customer but clearly caused by Online Art Gallery</span></li><li style="font-weight: 400;"><span style="font-weight: 400;">The feedback relates to a different purchase or to activities of another seller</span></li><li style="font-weight: 400;"><span style="font-weight: 400;">The feedback represents a claim, which should be thoroughly investigated via our claim process. However, the buyer has not yet contacted us and/or the seller to open such a claim.*</span></li></ul>
                <p><em style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">→ We strongly encourage the seller to reach out to the buyer to resolve the issues the buyer reports in the feedback.</em></p>
                <p><strong>Online Art Gallary adjusts or partially removes (reactions to) feedback only if:</strong></p>
                <ul><li><span style="font-weight: 400;">The buyer’s feedback or seller’s reaction contains inappropriate language or personal information of others&nbsp;</span></li></ul>
                <p><em style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">→ Art Gallary will only remove the relevant unaccepted wording, the rest of the feedback will remain visible.</em></p>
                <ul><li style="font-weight: 400;"><span style="font-weight: 400;">The feedback relates to events that are widely out of the seller’s control (e.g. customs issues, delivery time by the carrier, buyer absent at the time of delivery, parcel lost by shipping company, force majeure)</span></li></ul>
                <p><em style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">→&nbsp; Online Art Gallery will neutralise the feedback and add a public comment to explain why.</em></p>
                <p><em style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><em>→&nbsp;&nbsp;</em>We strongly encourage the seller to open an investigation with the shipping company to resolve the situation.&nbsp;</em></p>
                <ul><li style="font-weight: 400;"><span style="font-weight: 400;">The feedback is related to a claim which has been investigated following our claim process and has been concluded as unjustified.*&nbsp;&nbsp;</span></li></ul>
                <p><em><span style="font-weight: 400;">→ Art Gallary will neutralise the feedback and add a public comment to explain why.</span></em></p>
                <ul><li><span style="font-weight: 400;">A seller managed to resolve the issue to the buyer’s satisfaction without the need for a decision by Online Art Gallery.*<br></span></li></ul>
                <p><em><span style="font-weight: 400;">→ Art Gallary will neutralise the feedback and add a public comment to explain why.</span></em></p>
                <p><strong>Online Art Gallery does not remove or adjust (reactions to) feedback if:&nbsp;</strong></p>
                <ul><li style="font-weight: 400;"><span style="font-weight: 400;">The feedback relates to delivery errors that are considered to be within the seller’s control (e.g.&nbsp;</span><span style="font-weight: 400;">shipping later than within 3 business days of payment, insufficient packaging, unreasonable shipping costs**</span><span style="font-weight: 400;">)</span></li><li style="font-weight: 400;"><span style="font-weight: 400;">The feedback is related to a claim opened with Online Art Gallery which has been investigated following our claim process and has been concluded as justified.*</span></li><li style="font-weight: 400;"><span style="font-weight: 400;">The buyer’s feedback or the seller’s reaction in question was given more than 3 months ago</span><span style="font-weight: 400;"><br></span></li></ul>
                <p><em><span style="font-weight: 400;">→ We still adjust the feedback if it contains personal data or inappropriate language.</span></em></p>
                <p><span style="font-weight: 400;">*Feedback related to a purchase that is under investigation by our claim process will only be removed or adjusted after the claim has been resolved.&nbsp;</span></p>
                <p><span style="font-weight: 400;">**The seller is allowed to calculate the costs for shipping, which can include (but are not limited to) additional insurance and/or (special) packaging requirements.</span></p>
                <p><span style="font-weight: 400;">We hope to have informed you sufficiently. Please contact us if you have any more questions.</span></p>
            </div>

            <button class="accordion" id="chuong_accordion">
                Our help centre has improved to make it easier to navigate, find answers, and contact us
            </button>
            <div class="panel" id="chuong_panel">
                <p></p>
                <p>We improved our help centre based on your feedback and suggestions! The front page has been streamlined, and we didn't forget the underlying pages either. Making them all easier to navigate and helping you find the answers you need.</p>
                <p></p>
                <p>We've simplified and enhanced the names of the articles as well as the information contained within them. As a result they're much more relevant and understandable.&nbsp;</p>
                <p></p>
                <p>Read through all of our information and still need help? Don't hesitate and press the blue Contact Us button. You'll find it at the bottom of each article and menu page. We're just a few clicks away!</p>
            </div>

            <button class="accordion" id="chuong_accordion">Why does Online Art Gallery look different?</button>
            <div class="panel" id="chuong_panel">
                <p></p>
                <p>To make it even easier for you to buy and sell special objects, we’ve given Online Art Gallery a fresh new look. The updated Online Art Gallery website and app still have everything you know and love – like the expert selection process, exceptional auctions and secure payment system. But now they have an even better search function and a brand new style.</p>
                <p>If you have any questions about Online Art Gallery's new look, feel free to reach out to our customer experience team.</p>
            </div>
        </div>
    </div>
</section>