﻿@{
    ViewData["Title"] = "Contact Us";
}

<!--Section content-->
<section class="contact-box-1 py-5" style="min-height: 50vh;
         background-size: cover;
         background-image: url( /images/img2.jpg);
         background-position: left;
         background-repeat: no-repeat;
         background-attachment: fixed;
         box-shadow: inset 0 0 0 2000px #000000ab;">
    <!--Container-->
    <div class="container">
        <div class="hero-contact py-5 mt-3">
            <div class="row text-center">
                <div class="col-md-12">
                    <!--Content-->
                    <h1>Contact Us</h1>
                    <p>
                        "Have a question? We'll be happy to help."
                        <br />
                        "Most questions can be answered by visiting our"
                        <a href="#">help page</a>
                        ".If you still have a question on using Art Online Galarey, <br />please contact us using one of the methods below."
                    </p>
                    <button type="button" class="btn detail-item" data-toggle="modal" data-target="#ctc-form">
                        Send Message
                    </button>
                    <!--End content-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-box-2 py-2">
    <!--Container-->
    <div class="container">
        <!--Contactus-->
        <div class="row contactus-box">
            <div class="col-lg-4 col-md-6 col-sm-6 mb-3 mb-md-0">
                <div class="contactus-section">
                    <i class="fas fa-phone"></i>
                    <h1>Online Art Gallary Support Voicemail</h1>
                    <h2 class="subtitle">
                        <b>800-531-6074</b>
                    </h2>
                    <p class="subtitle">
                        "Call our support voicemail and leave us a message with your question. We will
                        attempt to return your call as soon as possible."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-3 mb-md-0">
                <div class="contactus-section">
                    <i class="fas fa-life-ring"></i>
                    <h1>
                        <a href="#">Online Art Galary Help As; Support Page</a>
                    </h1>
                    <p class="subtitle">
                        Here you will find answers to most questions along with tutorials and tips
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contactus-section">
                    <i class="fas fa-comments"></i>
                    <h1>
                        <a href="#">Online Art Galary Messager</a>
                    </h1>
                    <p class="subtitle">
                        Chat with us through Online Art Galary Messenger. The Art Gallary Messenger is located on the
                        bottom right of every Online Art Galary page
                    </p>
                    <p class="contactus-emphasis">Quickese Response time</p>
                </div>
            </div>
        </div>
    </div>
    <!--End container-->
</section>
<!--End section content-->
@*Modal Dialog*@
<div class="modal" tabindex="-1" role="dialog" id="ctc-form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Send Us Message</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="pt-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="FullName">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Phone">
                    </div>
                    <div class="form-group ">
                        <select class="form-control form-control-lg custom-select" id="registerInput1">
                            <option value="" disabled selected>Select Role</option>
                            <option value="Seller">I'm Seller</option>
                            <option value="Buyer">I'm Buyer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Write something for us" class="form-control" style="height:200px"></textarea>
                    </div>
                    <div class="mt-3">
                        <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Send Message" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*End modal dialog*@