﻿@{
    ViewData["Title"] = "New Art";
}

<section class="new-art-buynow pt-5 pb-5 py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="head-title">New Art In Your Area</h1>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <h2 class="mb-3">Products for Buy Now</h2>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1 naviga" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 naviga" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo2" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo3" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo4" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo5" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo6" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo7" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo8" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo9" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo10" class="ctd"</p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo11" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo12" class="ctd"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="new-art-bidding pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="mb-3">Products for Bidding</h2>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators3" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Name</h4>
                                            <h5 class="card-price small text-danger">
                                                <i>
                                                    <s>$199</s> $99
                                                </i>
                                            </h5>
                                            <p id="demo"></p>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <button class="btn detail-item">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






@*<section class="new-art-section py-5 mt-5">
        <div class="container-fluid px-3 px-sm-5 my-5 text-center">
            <h1 class="mb-5 font-weight-bold">New Art Exhibition</h1>
            <div class="owl-carousel owl-theme">
                <div class="item first prev">
                    <div class="card border-0 py-3 px-4">
                        <div class="row justify-content-center"> <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid profile-pic mb-4 mt-3"> </div>
                        <h4 class="mb-3 mt-2">Art Name</h4>
                        <p class="content mb-5 mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                    </div>
                </div>
                <div class="item show">
                    <div class="card border-0 py-3 px-4">
                        <div class="row justify-content-center"> <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid profile-pic mb-4 mt-3"> </div>
                        <h4 class="mb-3 mt-2">Art Name</h4>
                        <p class="content mb-5 mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                    </div>
                </div>
                <div class="item next">
                    <div class="card border-0 py-3 px-4">
                        <div class="row justify-content-center"> <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid profile-pic mb-4 mt-3"> </div>
                        <h4 class="mb-3 mt-2">Art Name</h4>
                        <p class="content mb-5 mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                    </div>
                </div>
                <div class="item last">
                    <div class="card border-0 py-3 px-4">
                        <div class="row justify-content-center"> <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid profile-pic mb-4 mt-3"> </div>
                        <h4 class="mb-3 mt-2">Art Name</h4>
                        <p class="content mb-5 mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- Section: Live preview -->
<!--<section class="mx-2 pb-3">
    <div class="p-5 bg-white rounded shadow mb-5">-->
<!-- Bordered tabs-->
<!--<ul id="myTab1" role="tablist" class="nav nav-tabs nav-pills with-arrow flex-column flex-sm-row text-center">
    <li class="nav-item flex-sm-fill">
        <a id="buynow-tab" data-toggle="tab" href="#buynow" role="tab" aria-controls="buynow" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 border active">Products Buy Now</a>
    </li>
    <li class="nav-item flex-sm-fill">
        <a id="bidding-tab" data-toggle="tab" href="#bidding" role="tab" aria-controls="bidding" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 border">Bidding Products</a>
    </li>
</ul>
<div id="myTab1Content" class="tab-content">
    <div id="buynow" role="tabpanel" aria-labelledby="buynow-tab" class="tab-pane fade px-4 py-5 show active">
        <div class="container">
            <div class="row">
                <div class="mansory">
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>1) All of These Headlines Are Not Exactly The Same</h3>
                        <p>In the real world, you don't know how long the content will be. Writers will write what they need. Photos will be cropped to the shape that they should be. That's good. Make a system that allows this. You want it to be flexible and robust.</p>
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>2) Some Are Short</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.</p>
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>3) Some Headlines Can Sometimes Be Quite Long, Because It Takes Time to Make A Point</h3>
                        <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis.</p>
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>4) Also, Why Are We Using Fake Content? Let's Make Some Real-ish Content.</h3>
                        <p>By using real content, we can see the variation inherent in what this site might present. And we can design for those real world needs.
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>5) Look At That</h3>
                        <p>Doesn't that look yummy?</p>
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>6) See how this layout is broken?</h3>
                        <p>That's because floats are really crap at handling layout. We've been using a screwdriver as a hammer. It sort of works, but badly.</p>
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>7) The New CSS Will Fix Things</h3>
                        <p>Finally we get some real hammers.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div id="bidding" role="tabpanel" aria-labelledby="bidding-tab" class="tab-pane fade px-4 py-5">
        <div class="container">
            <div class="row">
                <div class="mansory">
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>1) All of These Headlines Are Not Exactly The Same</h3>
                        <p>In the real world, you don't know how long the content will be. Writers will write what they need. Photos will be cropped to the shape that they should be. That's good. Make a system that allows this. You want it to be flexible and robust.</p>
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>2) Some Are Short</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.</p>
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>3) Some Headlines Can Sometimes Be Quite Long, Because It Takes Time to Make A Point</h3>
                        <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis.</p>
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>4) Also, Why Are We Using Fake Content? Let's Make Some Real-ish Content.</h3>
                        <p>By using real content, we can see the variation inherent in what this site might present. And we can design for those real world needs.
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>5) Look At That</h3>
                        <p>Doesn't that look yummy?</p>
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>6) See how this layout is broken?</h3>
                        <p>That's because floats are really crap at handling layout. We've been using a screwdriver as a hammer. It sort of works, but badly.</p>
                    </article>
                    <article>
                        <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg">
                        <h3>7) The New CSS Will Fix Things</h3>
                        <p>Finally we get some real hammers.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- End bordered tabs -->
<!--</div>
</section>-->
<!-- Section: Live preview -->