﻿@{
    ViewData["Title"] = "Art In Sale";
}

<section class="new-art-section py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-2 col-lg-9">
                <div class="container-fluid">
                    <div class="row mb-5">
                        <div class="col-12">
                            <div class="dropdown text-md-left text-center float-md-left mb-3 mt-3 mt-md-0 mb-md-0">
                                <label class="mr-2">Sort by:</label>
                                <a class="btn btn-lg btn-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relevance <span class="caret"></span></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" x-placement="bottom-start" style="position: absolute; transform: translate3d(71px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item" href="#">Relevance</a>
                                    <a class="dropdown-item" href="#">Price Descending</a>
                                    <a class="dropdown-item" href="#">Price Ascending</a>
                                    <a class="dropdown-item" href="#">Best Bidding</a>
                                </div>
                            </div>
                            <div class="btn-group float-md-right ml-3">
                                <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-left"></span> </button>
                                <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-right"></span> </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
                                </div>
                                <div class="card-body text-left">
                                    <h4 class="card-title">
                                        <a href="product.html" class=" font-weight-bold text-dark text-uppercase small"> Product name</a>
                                    </h4>
                                    <h5 class="card-price small text-danger">
                                        <i>
                                            <s>$199</s> $99
                                        </i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
                                </div>
                                <div class="card-body text-left">
                                    <h4 class="card-title">
                                        <a href="product.html" class=" font-weight-bold text-dark text-uppercase small"> Product name</a>
                                    </h4>
                                    <h5 class="card-price small text-danger">
                                        <i>
                                            <s>$199</s> $99
                                        </i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
                                </div>
                                <div class="card-body text-left">
                                    <h4 class="card-title">
                                        <a href="product.html" class=" font-weight-bold text-dark text-uppercase small"> Product name</a>
                                    </h4>
                                    <h5 class="card-price small text-danger">
                                        <i>
                                            <s>$199</s> $99
                                        </i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
                                </div>
                                <div class="card-body text-left">
                                    <h4 class="card-title">
                                        <a href="product.html" class=" font-weight-bold text-dark text-uppercase small"> Product name</a>
                                    </h4>
                                    <h5 class="card-price small text-danger">
                                        <i>
                                            <s>$199</s> $99
                                        </i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
                                </div>
                                <div class="card-body text-left">
                                    <h4 class="card-title">
                                        <a href="product.html" class=" font-weight-bold text-dark text-uppercase small"> Product name</a>
                                    </h4>
                                    <h5 class="card-price small text-danger">
                                        <i>
                                            <s>$199</s> $99
                                        </i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
                                </div>
                                <div class="card-body text-left">
                                    <h4 class="card-title">
                                        <a href="product.html" class=" font-weight-bold text-dark text-uppercase small"> Product name</a>
                                    </h4>
                                    <h5 class="card-price small text-danger">
                                        <i>
                                            <s>$199</s> $99
                                        </i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
                                </div>
                                <div class="card-body text-left">
                                    <h4 class="card-title">
                                        <a href="product.html" class=" font-weight-bold text-dark text-uppercase small"> Product name</a>
                                    </h4>
                                    <h5 class="card-price small text-danger">
                                        <i>
                                            <s>$199</s> $99
                                        </i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
                                </div>
                                <div class="card-body text-left">
                                    <h4 class="card-title">
                                        <a href="product.html" class=" font-weight-bold text-dark text-uppercase small"> Product name</a>
                                    </h4>
                                    <h5 class="card-price small text-danger">
                                        <i>
                                            <s>$199</s> $99
                                        </i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <img src="https://cutewallpaper.org/21/india-art-wallpaper/American-Indian-Art-Painting-Wallpapers-Free-Computer-.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
                                </div>
                                <div class="card-body text-left">
                                    <h4 class="card-title">
                                        <a href="product.html" class=" font-weight-bold text-dark text-uppercase small"> Product name</a>
                                    </h4>
                                    <h5 class="card-price small text-danger">
                                        <i>
                                            <s>$199</s> $99
                                        </i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row sorting mb-5 mt-5">
                        <div class="col-12">
                            <a class="btn btn-light">
                                <i class="fas fa-arrow-up mr-2"></i> Back to top
                            </a>
                            <div class="btn-group float-md-right ml-3">
                                <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-left"></span> </button>
                                <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-right"></span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="col-md-4 order-md-1 col-lg-3 sidebar-filter">
                <h2 class="mt-0 mb-5">New Art <span class="text-primary">12</span> Products</h2>
                <h6 class="text-uppercase font-weight-bold mb-3">Categories</h6>
                <div class="mt-2 mb-2 pl-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="category-1">
                        <label class="custom-control-label" for="category-1">Art Paintings</label>
                    </div>
                </div>
                <div class="mt-2 mb-2 pl-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="category-2">
                        <label class="custom-control-label" for="category-2">Criptures</label>
                    </div>
                </div>
                <div class="mt-2 mb-2 pl-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="category-3">
                        <label class="custom-control-label" for="category-3">Art Statue</label>
                    </div>
                </div>
                <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
                <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Artist</h6>
                <div class="mt-2 mb-2 pl-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="filter-size-1">
                        <label class="custom-control-label" for="filter-size-1">Sample</label>
                    </div>
                </div>
                <div class="mt-2 mb-2 pl-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="filter-size-2">
                        <label class="custom-control-label" for="filter-size-2">Sample</label>
                    </div>
                </div>
                <div class="mt-2 mb-2 pl-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="filter-size-3">
                        <label class="custom-control-label" for="filter-size-3">Sample</label>
                    </div>
                </div>
                <div class="mt-2 mb-2 pl-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="filter-size-4">
                        <label class="custom-control-label" for="filter-size-4">Sample</label>
                    </div>
                </div>
                <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
                <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Price</h6>
                <div class="price-filter-control">
                    <input type="number" class="form-control w-50 pull-left mb-2" value="50" id="price-min-control">
                    <input type="number" class="form-control w-50 pull-right" value="150" id="price-max-control">
                </div>
                <input id="ex2" type="text" class="slider " value="50,150" data-slider-min="10" data-slider-max="200" data-slider-step="5" data-slider-value="[50,150]" data-value="50,150" style="display: none;">
                <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
                <a href="#" class="btn btn-lg btn-block btn-primary mt-5">Update Results</a>
            </div>
        </div>
    </div>
</section>